python-dotenv
pandas
matplotlib
seaborn
langchain_community
langchain-chroma
transformers
gradio
notebook
ipywidgets
sentence-transformers
langchain-huggingface
langchain
fastapi
uvicorn[standard]
jupyterlab
nltk
unidecode
langchain_core
pdfplumber